<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
  <appender name="file-trace" class="org.apache.log4j.FileAppender">
    <param name="append" value="true" />
    <param name="encoding" value="UTF-8" />
    <param name="file" value="./event-bus-test-trace.log" />
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="[%-25d{ISO8601}] %-5p %-15t %c{1} -- %m\n" />
    </layout>
    <filter class="org.apache.log4j.varia.LevelRangeFilter">
      <param name="levelMin" value="TRACE" />
      <param name="levelMax" value="FATAL" />
    </filter>
  </appender>
  <appender name="file-debug" class="org.apache.log4j.FileAppender">
    <param name="append" value="true" />
    <param name="encoding" value="UTF-8" />
    <param name="file" value="./event-bus-test-debug.log" />
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="[%-25d{ISO8601}] %-5p %-15t %c{1} -- %m\n" />
    </layout>
    <filter class="org.apache.log4j.varia.LevelRangeFilter">
      <param name="levelMin" value="DEBUG" />
      <param name="levelMax" value="FATAL" />
    </filter>
  </appender>
  <appender name="file-info" class="org.apache.log4j.FileAppender">
    <param name="append" value="true" />
    <param name="encoding" value="UTF-8" />
    <param name="file" value="./event-bus-test-info.log" />
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="[%-25d{ISO8601}] %-5p %-15t %c{1} -- %m\n" />
    </layout>
    <filter class="org.apache.log4j.varia.LevelRangeFilter">
      <param name="levelMin" value="INFO" />
      <param name="levelMax" value="FATAL" />
    </filter>
  </appender>
  <appender name="stdout-warn" class="org.apache.log4j.ConsoleAppender">
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="[%-25d{ISO8601}] %-5p %-15t %c{1} -- %m\n" />
    </layout>
    <filter class="org.apache.log4j.varia.LevelRangeFilter">
      <param name="levelMin" value="WARN" />
      <param name="levelMax" value="FATAL" />
    </filter>
  </appender>
  <root> 
    <priority value ="TRACE" /> 
   <!--  <appender-ref ref="file-trace" /> --> 
    <appender-ref ref="file-debug" /> 
   <!--  <appender-ref ref="file-info" />  -->
    <appender-ref ref="stdout-warn" /> 
  </root>
</log4j:configuration>